body{
    font-family: 'Poppins', sans-serif;
    margin: 2px;
}
 section{
    height: 500px;
 }
.name-highlight{
    margin: 0px;
    color:rgb(216, 31, 62) ;
}
.half-width{
     width: 40%;
     float: left;
     margin-left:5% ;
     padding-left: 5%;
     margin-top: 20px;
}

.top-banner{
    background-image: url("pic/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%; 
}
#top{
    margin-top: 150px ;
}
.middle-banner{
    background-image: url("pic/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 20px 20px;
}
#middle{
   margin-top: 150px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(250, 120, 142) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700; 
}

.third-banner{
    background-image: url("pic/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    margin: 50px 20px;  
    padding: 20px;
}
.half-width img{
    width: 100%;
}

.img{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.final-banner{
    background-image: url(pic/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.btn{
    text-align: center;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
    padding-top: 1%;
    background-image: repeating-linear-gradient(45deg, rgba(192,55,123,0.801), rgb(219,65,137));

} 
#gmail-btn{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.last-sec{
    text-align: center;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2%;
    padding-top: 1%;
}
.extra-part{
    background-image: url(pic/header-bg.png);
    background-repeat: no-repeat;
    height: 350;
}

li:nth-child(2n+1){
    background-color: pink;
}
.extra-work{
    border-radius: 10px;
    width: 30%;
    margin-left: 300px;
    margin-bottom: 20%;
    padding: 20px 40px 20px 40px;
  
}
.extra{
    text-align: center;
   
    font-weight: bold;
}



