body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
 section{
    height: 300px;
 }
.name-highlight{
    margin: 0px;
    color:rgb(216, 31, 62) ;
}
.half-width{
     width: 40%;
     float: left;
     margin-left:5% ;
     padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("pic/header-bg.png");
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-color: rgb(104, 4, 21) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


